In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time                   # To time processes
import warnings               # To suppress warnings
from sklearn.preprocessing import StandardScaler  # For scaling dataset
from sklearn.cluster import KMeans, AgglomerativeClustering, AffinityPropagation #For clustering
from sklearn.mixture import GaussianMixture #For GMM clustering
import plotly.graph_objs as go
import os                     # For os related operations
import sys
import plotly.plotly as py

In [66]:
import plotly
plotly.tools.set_credentials_file(username='eisnell', api_key='kIcpyqwgg4POzzZ28txp')

In [67]:
adr = pd.read_csv('analytics_data_report.csv')
df = pd.DataFrame(adr)
adr = adr.dropna(subset=['Lender','Loan Booked'])
adr = adr[adr.columns.drop(list(df.filter(regex='Cash')))]

In [68]:
adr['Trade-in LTV'] = adr['Loan Amount']/adr['Trade-in Value']
adr['Total Gross Income'] = adr['Gross Income'] + adr['Additional Income'] + adr['Coapp Gross Income'] + adr['Coapp Additional Income']
adr['Lender'].unique()
data2 = adr[['Lender','Credit Score', 'Total Gross Income', 'Vehicle Year', 'Vehicle Mileage', 'Trade-in LTV', 'Buy Rate','Finance Type']]
trans_data = np.log(data).diff().dropna()
trans_data[-5:]

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:5: RuntimeWarning:

divide by zero encountered in log

,Credit Score,Total Gross Income,Vehicle Year,Vehicle Mileage,Trade-in LTV,Buy Rate
103970,-0.226066,-1.267700,-0.000496,-0.050010,-0.076662,0.952972
104010,0.293761,0.893481,-0.000496,-0.424883,-0.318942,-1.009485
104081,-0.321793,-0.122218,0.001488,-0.146818,0.137573,0.752403
104136,0.204918,-0.074108,-0.000496,0.633303,0.103359,-0.668789
104389,-0.017870,-0.200141,0.000496,-0.984904,-0.119908,0.127833

In [74]:
data2 = adr[['Lender', 'State','Credit Score', 'Total Gross Income', 'Vehicle Year', 'Vehicle Mileage', 'Trade-in LTV','Finance Type']]

In [75]:
dfr = pd.DataFrame(data2)
dfr = dfr[dfr['Finance Type'] != 'Purchase']
dfp = pd.DataFrame(data2)
dfp = dfp[dfp['Finance Type'] != 'Refi']

In [90]:
scatter = dict(
    mode = "markers",
    name = "y",
    type = "scatter3d",    
    x = dfr['Credit Score'], y = dfr['Trade-in LTV'], z = dfr['Lender'],
    marker = dict( size=4.5, color="rgb(23, 190, 207)" )
)
clusters = dict(
    alphahull = 7,
    name = "y",
    opacity = 0.1,
    type = "mesh3d",    
    x = dfr['Credit Score'], y = dfr['Trade-in LTV'], z = dfr['Lender']
)
layout = go.Layout(
    title = '3d point clustering', height=1450, width=1300,
    scene = dict(
        xaxis = dict( zeroline=False ),
        yaxis = dict( zeroline=False ),
        zaxis = dict( zeroline=False ),
    ),
)

fig = dict(data=[scatter, clusters], layout=layout)
# Use py.iplot() for IPython notebook
py.iplot(fig, filename='3d point clustering')

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [89]:
scatter = dict(
    mode = "markers",
    name = "y",
    type = "scatter3d",    
    x = dfp['Credit Score'], y = dfp['Trade-in LTV'], z = dfp['Lender'],
    marker = dict( size=4.5, color="rgb(23, 190, 207)" )
)
clusters = dict(
    alphahull = 7,
    name = "y",
    opacity = 0.1,
    type = "mesh3d",    
    x = dfr['Credit Score'], y = dfr['Trade-in LTV'], z = dfr['Lender']
)
layout = go.Layout(
    title = '3d point clustering', height=1450, width=1300,
    scene = dict(
        xaxis = dict( zeroline=False ),
        yaxis = dict( zeroline=False ),
        zaxis = dict( zeroline=False ),
    ),
)

fig = dict(data=[scatter, clusters], layout=layout)
# Use py.iplot() for IPython notebook
py.iplot(fig, filename='3d point clustering')

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead