In [34]:
import pandas as pd

In [48]:
df = pd.read_csv("p rate.csv")

df.columns = df.columns.str.replace(' ','_').str.lower()


partner = []
for row in df:
    if row[0] not in partner:
        partner.append(row[0])




df.head()

,app_id,partner,finance_type,referral_received,credit_pulled,first_note_date,contact,application_complete,sent_to_lender,lender_decision-decl,...,turned_in_to_processing,loan_docs_sent,loan_docs_returned,docs_sent_to_bank,loan_booked,payoff_sent,prior_title_rec'd,sent_to_dmv,title_perfected,remove_from_follow-up
0,A19010001,IFS Marketing Organic Lease,Purchase,1/1/2019,1/1/2019,1/19/2019,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/27/2019
1,A19010002,Enterprise Fleet Management,Purchase,1/1/2019,NaN,1/2/2019,NaN,1/14/2019,NaN,NaN,...,1/14/2019,1/14/2019,1/29/2019,NaN,1/29/2019,1/30/2019,2/1/2019,2/8/2019,3/12/2019,4/1/2019
2,A19010003,Credit Karma,Refi,1/1/2019,1/1/2019,1/2/2019,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/9/2019
3,A19010004,Credit Karma,Refi,1/1/2019,1/1/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/1/2019
4,A19010005,Credit Karma,Refi,1/1/2019,1/1/2019,1/2/2019,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/11/2019