In [221]:
import pandas as pd
import numpy as np
import csv
import datetime as dt
from datetime import timedelta
from datetime import datetime
import time
import matplotlib as plt
import statistics
import math
import plotly.plotly as py
from datetime import date

In [222]:
data_start = '2019-4-15'
data_end = '2019-4-30'

res = (datetime.strptime(data_end, '%Y-%m-%d') + timedelta(days=1)).strftime('%Y-%m-%d')
adr = pd.read_csv('analytics_data_report.csv')
df = pd.DataFrame(adr)
df.columns = df.columns.str.replace(' ', '_').str.lower()
t1 = pd.to_datetime(df['referral_received'])
t2 = pd.to_datetime(df['loan_booked'])
mask = (t1 <= res) & (t1 >= data_start)
conv = df.loc[mask]
bookcount = conv.groupby('partner')['loan_booked'].count()
leadcount = conv.groupby('partner')['referral_received'].count()
rev1 = conv.groupby('partner')['gap_gross_revenue'].mean
conversions = bookcount / leadcount
conv['difference'] = t2 - t1
conv['difference'] = conv['difference'] / dt.timedelta(days=1)
df_dates = conv[['partner', 'referral_received', 'loan_booked', 'difference']]
mean_diff = df_dates.groupby('partner')['difference'].mean()
med_diff = df_dates.groupby('partner')['difference'].median()
df_summ = pd.DataFrame({'Volume': leadcount,
                       'Booked/App': conversions,
                       'Mean Time to Fund': mean_diff,
                       'Median Time to Fund': med_diff})
result = pd.merge(df, df_summ, on='partner')
result = result[np.isfinite(result['Median Time to Fund'])]
result = result[np.isfinite(result['Mean Time to Fund'])]
start = pd.to_datetime(result['referral_received'])
result['p_fund_median'] = start + result['Median Time to Fund'].map(dt.timedelta)
result['p_fund_mean'] = start + result['Mean Time to Fund'].map(dt.timedelta)
t3 = pd.to_datetime(result['p_fund_median'])
df_summ.dropna()

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Volume,Booked/App,Mean Time to Fund,Median Time to Fund
partner,,,,
AVIS,94,0.372340,16.891290,16.236111
CarGurus - Avis,10,0.300000,15.718287,14.188194
Chrysler Capital Lease,79,0.316456,18.851639,19.615972
Credit Karma,681,0.080764,23.770278,22.403472
Donlen,17,0.647059,15.219823,13.629167
Element,36,0.222222,24.168576,20.921875
Emkay,7,0.714286,23.409583,17.468056
Enterprise Fleet Management,77,0.766234,19.986323,17.904861
Fiserv GM Lease,74,0.351351,23.053632,21.586806
HCA - Hyundai Kia,52,0.576923,17.618704,15.751042
IFS,111,0.099099,15.893876,13.395833
IFS Marketing Organic,23,0.043478,10.002778,10.002778
IFS Marketing Organic Lease,3,0.333333,8.725000,8.725000
LeasePlan,3,1.000000,20.791667,23.609028
Lending Tree Lease,125,0.008000,15.367361,15.367361
MyAutoLoan Lease,35,0.057143,17.790625,17.790625
Natural Intelligence - Top 10,28,0.035714,23.267361,23.267361
NerdWallet,93,0.075269,16.753571,14.459028
TrueCar - AVIS,18,0.166667,16.156250,16.848611
Wheels,38,0.552632,23.013194,19.559028

In [47]:
start_date = '2019-6-1'
end_date = '2019-6-16'

res2 = (datetime.strptime(end_date, '%Y-%m-%d') + timedelta(days=1)).strftime('%Y-%m-%d')
pred_median = (result['p_fund_median'] <= res2) & (result['p_fund_median'] >= start_date)
new_median = result.loc[pred_median]
appcount_median = new_median.groupby('partner')['referral_received'].count()
predicted_median = appcount_median * conversions
Total_median = predicted_median.sum()
pred_mean = (result['p_fund_mean'] < res2) & (result['p_fund_mean'] >= start_date)
new_mean = result.loc[pred_mean]
appcount_mean = new_mean.groupby('partner')['referral_received'].count()
predicted_mean = appcount_mean * conversions
Total_mean = predicted_mean.sum()
booked = pd.to_datetime(result['loan_booked'])
actual = (booked <= res2) & (booked >= start_date)
actual2 = result.loc[actual]
true_actual = actual2.groupby('partner')['loan_booked'].count()
prediction_test = pd.DataFrame({'Predicted Median': round(predicted_median,0),
                           'Predicted Mean': round(predicted_mean,0),
                           'Actual': true_actual})
prediction_test.loc['Total'] = prediction_test.sum()
prediction_test.dropna()

                                Predicted Median  Predicted Mean  Actual
AVIS                                        35.0            36.0    38.0
Chrysler Capital Lease                      23.0            24.0    17.0
Credit Karma                                49.0            50.0    49.0
Donlen                                       4.0             5.0     3.0
Element                                      5.0             6.0    11.0
Emkay                                        2.0             3.0     4.0
Enterprise Fleet Management                 70.0            57.0    68.0
Fiserv GM Lease                             33.0            36.0    31.0
HCA - Hyundai Kia                           28.0            24.0    16.0
IFS                                         11.0            12.0    21.0
IFS Marketing Organic                        1.0             1.0     1.0
IFS Marketing Organic Lease                  2.0             2.0     2.0
MyAutoLoan Lease                             2.0             2.0     1.0
Natural Intelligence - Top 10                1.0             1.0     1.0
NerdWallet                                   8.0             8.0     7.0
TrueCar - AVIS                               4.0             4.0     3.0
Wheels                                      12.0            12.0    21.0
Total                                      297.0           289.0   294.0

In [223]:
cols = list(result.columns)
cols = [cols[0]] + cols[0:]
result = result[cols]
result.to_dict()
result

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

,app_id,app_id,partner,fa_tier,fa,loan_processor,funding_clerk,title_clerk,lender,state,...,gap_gross_revenue,vsc_gross_revenue,tw_gross_revenue,total_gross_revenue,Volume,Booked/App,Mean Time to Fund,Median Time to Fund,p_fund_median,p_fund_mean
0,A18068303,A18068303,Credit Karma,3,brawson,NaN,NaN,NaN,NaN,TX,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 09:50:00,2018-07-11 18:38:12
1,A18068304,A18068304,Credit Karma,1,jbarnes,NaN,NaN,NaN,Fort Bragg Federal Credit Unio,TX,...,571.0,0.0,0,870.0,681,0.080764,23.770278,22.403472,2018-07-10 10:01:00,2018-07-11 18:49:12
2,A18068305,A18068305,Credit Karma,1,jgorrell,NaN,NaN,NaN,NaN,AR,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 10:17:00,2018-07-11 19:05:12
3,A18068306,A18068306,Credit Karma,3,jrodriguez,NaN,NaN,NaN,NaN,CA,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 10:20:00,2018-07-11 19:08:12
4,A18068307,A18068307,Credit Karma,1,ldukes,NaN,NaN,NaN,NaN,NV,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 10:23:00,2018-07-11 19:11:12
5,A18068308,A18068308,Credit Karma,3,mandrada,NaN,NaN,NaN,NaN,CA,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 10:23:00,2018-07-11 19:11:12
6,A18068309,A18068309,Credit Karma,1,mdang_fa,NaN,NaN,NaN,NaN,UT,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 10:25:00,2018-07-11 19:13:12
7,A18068311,A18068311,Credit Karma,2,munnasch,NaN,NaN,NaN,Wells Fargo/IFS Direct Fund,CA,...,505.0,0.0,0,804.0,681,0.080764,23.770278,22.403472,2018-07-10 10:46:00,2018-07-11 19:34:12
8,A18068312,A18068312,Credit Karma,1,rlevy,NaN,NaN,NaN,Carter Federal Credit Union,CA,...,0.0,0.0,327,626.0,681,0.080764,23.770278,22.403472,2018-07-10 11:00:00,2018-07-11 19:48:12
9,A18068313,A18068313,Credit Karma,0,spurcell,NaN,NaN,NaN,NaN,KY,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 11:01:00,2018-07-11 19:49:12
10,A18068314,A18068314,Credit Karma,3,ttran,NaN,NaN,NaN,NaN,KY,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 11:40:00,2018-07-11 20:28:12
11,A18068315,A18068315,Credit Karma,3,vwheeler,NaN,NaN,NaN,NaN,MS,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 12:23:00,2018-07-11 21:11:12
12,A18068316,A18068316,Credit Karma,3,wpotter,NaN,NaN,NaN,NaN,TX,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 12:28:00,2018-07-11 21:16:12
13,A18068317,A18068317,Credit Karma,1,abenitez-reyes,NaN,NaN,NaN,First Entertainment Credit Uni,CA,...,0.0,0.0,0,299.0,681,0.080764,23.770278,22.403472,2018-07-10 12:52:00,2018-07-11 21:40:12
14,A18068318,A18068318,Credit Karma,3,aperez,NaN,NaN,NaN,NaN,IN,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 12:57:00,2018-07-11 21:45:12
15,A18068319,A18068319,Credit Karma,3,brawson,NaN,NaN,NaN,NaN,NC,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 13:18:00,2018-07-11 22:06:12
16,A18068320,A18068320,Credit Karma,1,jbarnes,NaN,NaN,NaN,NaN,CA,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 13:19:00,2018-07-11 22:07:12
17,A18068321,A18068321,Credit Karma,1,jgorrell,NaN,NaN,NaN,OpenLending-Air Force,OK,...,0.0,0.0,0,299.0,681,0.080764,23.770278,22.403472,2018-07-10 13:34:00,2018-07-11 22:22:12
18,A18068322,A18068322,Credit Karma,3,jrodriguez,NaN,NaN,NaN,NaN,NV,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 13:52:00,2018-07-11 22:40:12
19,A18068323,A18068323,Credit Karma,1,ldukes,NaN,NaN,NaN,NaN,TX,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 14:04:00,2018-07-11 22:52:12
20,A18068324,A18068324,Credit Karma,2,mandrada,NaN,NaN,NaN,NaN,AR,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 14:34:00,2018-07-11 23:22:12
21,A18068325,A18068325,Credit Karma,2,mdang_fa,NaN,NaN,NaN,NaN,IN,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 14:53:00,2018-07-11 23:41:12
22,A18068326,A18068326,Credit Karma,1,munnasch,NaN,NaN,NaN,NaN,OH,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 15:03:00,2018-07-11 23:51:12
23,A18068327,A18068327,Credit Karma,3,rlevy,NaN,NaN,NaN,NaN,MA,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 15:44:00,2018-07-12 00:32:12
24,A18068328,A18068328,Credit Karma,3,spurcell,NaN,NaN,NaN,OpenLending-Air Force,GA,...,571.0,0.0,0,870.0,681,0.080764,23.770278,22.403472,2018-07-10 15:47:00,2018-07-12 00:35:12
25,A18068329,A18068329,Credit Karma,3,ttran,NaN,NaN,NaN,NaN,MD,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 15:48:00,2018-07-12 00:36:12
26,A18068330,A18068330,Credit Karma,3,vwheeler,NaN,NaN,NaN,NaN,IN,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 15:59:00,2018-07-12 00:47:12
27,A18068331,A18068331,Credit Karma,1,wpotter,NaN,NaN,NaN,NaN,FL,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 16:07:00,2018-07-12 00:55:12
28,A18068332,A18068332,Credit Karma,2,abenitez-reyes,NaN,NaN,NaN,Carter Federal Credit Union,IL,...,0.0,0.0,0,299.0,681,0.080764,23.770278,22.403472,2018-07-10 16:11:00,2018-07-12 00:59:12
29,A18068333,A18068333,Credit Karma,1,aperez,NaN,NaN,NaN,NaN,FL,...,0.0,0.0,0,0.0,681,0.080764,23.770278,22.403472,2018-07-10 16:12:00,2018-07-12 01:00:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101680,A19053045,A19053045,MyAutoLoan Lease,1,mpanzarino,NaN,NaN,NaN,JPMorgan Chase Bank NA,CA,...,0.0,0.0,0,163.3,35,0.057143,17.790625,17.790625,2019-06-18 08:34:30,2019-06-18 08:34:30
101681,A19053062,A19053062,MyAutoLoan Lease,1,ahernandez,NaN,NaN,NaN,NaN,MD,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-18 11:52:30,2019-06-18 11:52:30
101682,A19060025,A19060025,MyAutoLoan Lease,3,mpanzarino,NaN,NaN,NaN,NaN,SD,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-19 06:35:30,2019-06-19 06:35:30
101683,A19060037,A19060037,MyAutoLoan Lease,1,ahernandez,NaN,NaN,NaN,NaN,GA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-19 07:40:30,2019-06-19 07:40:30
101684,A19060096,A19060096,MyAutoLoan Lease,1,ddalton,NaN,NaN,NaN,NaN,CO,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-20 13:25:30,2019-06-20 13:25:30
101685,A19060185,A19060185,MyAutoLoan Lease,1,jparton,NaN,NaN,NaN,NaN,WI,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-21 09:40:30,2019-06-21 09:40:30
101686,A19060340,A19060340,MyAutoLoan Lease,2,volivares_fa,NaN,NaN,NaN,OpenLending-Air Force,CA,...,0.0,0.0,0,299.0,35,0.057143,17.790625,17.790625,2019-06-22 13:41:30,2019-06-22 13:41:30
101687,A19060369,A19060369,MyAutoLoan Lease,0,ahernandez,NaN,NaN,NaN,NaN,FL,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-23 04:53:30,2019-06-23 04:53:30
101688,A19060418,A19060418,MyAutoLoan Lease,0,ddalton,NaN,NaN,NaN,NaN,NY,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-23 10:09:30,2019-06-23 10:09:30
101689,A19060605,A19060605,MyAutoLoan Lease,1,mpanzarino,NaN,NaN,NaN,NaN,NJ,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-24 21:07:30,2019-06-24 21:07:30
101690,A19060621,A19060621,MyAutoLoan Lease,1,ddalton,NaN,NaN,NaN,NaN,VA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-25 04:12:30,2019-06-25 04:12:30
101691,A19060719,A19060719,MyAutoLoan Lease,3,ahernandez,NaN,NaN,NaN,NaN,MD,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-25 11:38:30,2019-06-25 11:38:30
101692,A19060744,A19060744,MyAutoLoan Lease,1,jparton,NaN,NaN,NaN,Flagship Credit Acceptance LLC,NY,...,0.0,1000.0,0,1163.3,35,0.057143,17.790625,17.790625,2019-06-25 21:40:30,2019-06-25 21:40:30
101693,A19060814,A19060814,MyAutoLoan Lease,1,kwinner,NaN,NaN,NaN,NaN,OK,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-27 08:55:30,2019-06-27 08:55:30
101694,A19060890,A19060890,MyAutoLoan Lease,1,aperez,NaN,NaN,NaN,NaN,GA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-28 06:41:30,2019-06-28 06:41:30
101695,A19060919,A19060919,MyAutoLoan Lease,0,ddalton,NaN,NaN,NaN,NaN,MA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-28 08:51:30,2019-06-28 08:51:30
101696,A19061058,A19061058,MyAutoLoan Lease,1,jparton,NaN,NaN,NaN,NaN,MA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-29 08:53:30,2019-06-29 08:53:30
101697,A19061180,A19061180,MyAutoLoan Lease,1,tdooley,NaN,NaN,NaN,NaN,CO,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-30 08:06:30,2019-06-30 08:06:30
101698,A19061186,A19061186,MyAutoLoan Lease,2,volivares_fa,NaN,NaN,NaN,NaN,MO,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-30 09:12:30,2019-06-30 09:12:30
101699,A19061233,A19061233,MyAutoLoan Lease,1,ahernandez,NaN,NaN,NaN,NaN,NH,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-06-30 17:47:30,2019-06-30 17:47:30
101700,A19061260,A19061260,MyAutoLoan Lease,3,aperez,NaN,NaN,NaN,NaN,FL,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-01 05:20:30,2019-07-01 05:20:30
101701,A19061292,A19061292,MyAutoLoan Lease,1,jhazzard,NaN,NaN,NaN,NaN,CA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-01 09:26:30,2019-07-01 09:26:30
101702,A19061295,A19061295,MyAutoLoan Lease,1,jparton,NaN,NaN,NaN,NaN,OH,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-01 09:40:30,2019-07-01 09:40:30
101703,A19061299,A19061299,MyAutoLoan Lease,1,jhazzard,NaN,NaN,NaN,NaN,OH,...,0.0,0.0,0,163.3,35,0.057143,17.790625,17.790625,2019-07-01 09:54:30,2019-07-01 09:54:30
101704,A19061301,A19061301,MyAutoLoan Lease,1,kwinner,NaN,NaN,NaN,Elements Financial,NY,...,0.0,1300.0,0,1599.0,35,0.057143,17.790625,17.790625,2019-07-01 10:06:30,2019-07-01 10:06:30
101705,A19061302,A19061302,MyAutoLoan Lease,1,mdang_fa,NaN,NaN,NaN,NaN,AL,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-01 10:08:30,2019-07-01 10:08:30
101706,A19061516,A19061516,MyAutoLoan Lease,1,kwinner,NaN,NaN,NaN,NaN,WI,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-03 13:21:30,2019-07-03 13:21:30
101707,A19061532,A19061532,MyAutoLoan Lease,2,mdang_fa,NaN,NaN,NaN,NaN,CA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-03 21:00:30,2019-07-03 21:00:30
101708,A19061574,A19061574,MyAutoLoan Lease,3,mpanzarino,NaN,NaN,NaN,NaN,MI,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-04 15:01:30,2019-07-04 15:01:30
101709,A19061595,A19061595,MyAutoLoan Lease,1,tdooley,NaN,NaN,NaN,NaN,PA,...,0.0,0.0,0,0.0,35,0.057143,17.790625,17.790625,2019-07-05 03:48:30,2019-07-05 03:48:30

In [225]:
df2 = df[['partner','gap_gross_revenue','vsc_gross_revenue','tw_gross_revenue','total_gross_revenue']]
df2 = df2.replace(0, np.NaN)

In [226]:
grouped = df2.groupby('partner').agg(np.mean)
grouped.dropna()

,gap_gross_revenue,vsc_gross_revenue,tw_gross_revenue,total_gross_revenue
partner,,,,
AVIS,456.524063,1174.787611,320.654762,1214.327029
Avis Online App,471.744561,1827.088235,324.250000,1066.155712
Avis Rental,477.568000,1270.250000,333.083333,1407.695556
CarGurus - Avis,476.487241,1316.607143,327.000000,1169.643986
Chrysler Capital Lease,491.226317,1023.567987,330.655914,1214.638358
ConsumersAdvocate,513.333333,1000.000000,377.000000,1157.800000
Credit Karma,527.489377,980.965398,318.434899,666.912462
Donlen,473.004444,1125.580247,332.971429,1187.241900
Element,471.322959,1073.359375,330.924528,1067.009121
Emkay,470.980909,954.413793,327.076923,1145.112394
Enterprise Fleet Management,440.023478,994.708333,327.000000,508.957954
Fiserv GM Lease,466.252439,1171.735043,323.518519,698.972980
Flexco,512.230769,955.265306,322.857143,1174.096000
HCA - Hyundai Kia,477.690344,1014.754717,329.977778,761.319269
IFS,528.158154,1040.152778,328.196721,745.169611
IFS Marketing Organic,527.323077,961.500000,327.000000,679.637277
IFS Marketing Organic Lease,510.604783,1214.000000,352.800000,1138.345714
LeasePlan,464.999500,1088.638298,331.764706,1098.949291
Lending Tree Lease,498.287321,1224.833333,356.583333,942.264508
Mike Albert,276.868000,1295.636364,346.333333,1178.933478
MyAutoLoan Lease,499.344468,1403.956522,337.714286,1024.681556
Natural Intelligence - Top 10,529.450194,725.000000,324.500000,615.791493
NerdWallet,531.068050,985.551020,327.769231,672.114122
TrueCar - AVIS,462.127941,1230.907692,328.366667,1179.750009
Wheels,481.149583,1125.231707,345.886792,1129.338805